body{
	background-image:url(bgg2.jpg);

}

/*.vidosufc2{
	margin-left:550px;
	margin-top:10px;
}*/

div{

	margin-left:535px;
	background-image:url(bgg.jpg);
	border:7px solid black;
	color:white;
	margin-right:645px;
	font-family:Comic Sans MS;

}

#cga{

	margin-left:500px;
	background-image:url(bgg.jpg);
	border:10px solid black;
	color:white;
	font-size:120px;
	font-family:Comic Sans MS;

}

.contact{


	color:white;
	width:200px;
	font-size:48px;

}

.video{
	margin-left:200px;
	margin-top:100px;
}

.video1{
	margin-left:400px;
	margin-top:100px;
}

/*p{
	background-image:url(bgg.jpg);
	border:7px solid black;
	color:white;
	margin-right:894px;
	font-family:impact;
}*/

#cga:hover{
	color:grey;
}

.panel:hover{
	color:grey;
}

.contact:hover{
	color:grey;
}

.bord1{
	background-image:url(bgg.jpg);
}

.opis1{
	margin-right: 1300px;
	margin-left: 300px;
}

.opis2{
	margin-right: 300px;
	margin-left: 1300px;
	margin-top: -197px;
}
