body{
	background-color: #3e844a;
    -moz-background-size: 100% 125%;
    -webkit-background-size: 100% 125%;
    -o-background-size: 100% 125%;
    background-size: 100% 125%;
}

.dws-menu li a{ 
	transition: all 0.7 ease;
}


.dws-menu *{
	margin: 0;
	padding: 0;
	transition: all 0.3 ease;
}

header{

	margin-top: 300px;
	font-family: 'Oswald', sans-serif;

}

.dws-menu ul,
.dws-menu ol{
	list-style: none;
	transition: all 0.7 ease;
}

.dws-menu > ul{
	display: flex;
	justify-content: center;
	transition: all 0.7 ease;
}

.dws-menu > ul li a{
	border-radius: 5px;
	display: block;
	background: #303030;
	padding: 13px 35px 15px 40px;
	font-size: 14px;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 0.7 ease;
}

.dws-menu li a:hover{

	background: #454547;
	color: #3e844a;
	box-shadow: 1px 5px 10px -5px black;
	transition: all 0.7s ease;
}

.title{
	color: #303030;
	text-align: center;
	margin-top: -240px;
	font-size: 60px;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	text-decoration: underline;
	transition: all 0.5 ease;
	
}

.title a:hover{
	color: white;
	transition-duration: 2s;
}

.frstvideo{
	border: 5px solid #303030;
}

center{
	margin-top: 250px;
}

.titlename{
	text-decoration: none;
	color: #303030;
}


.contact ul,
.contact ol{
	list-style: none;
}

.contact ul{
	display: flex;
	justify-content: center;
}

.contact > ul li .utuber{
	font-family: 'Oswald', sans-serif;
	border-radius: 5px;
	display: block;
	background: white;
	padding: 10px 29px 12px 37px;
	font-size: 17px;
	color: #303030;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 0.7s ease;
}

.contact > ul li .vk{
	font-family: 'Oswald', sans-serif;
	border-radius: 5px;
	display: block;
	background: #4286f4;
	padding: 10px 29px 12px 37px;
	font-size: 17px;
	color: #303030;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 0.7s ease;
}

.contact > ul li .utube{
	font-family: 'Oswald', sans-serif;
	border-radius: 5px;
	display: block;
	background: #e03838;
	padding: 10px 29px 12px 37px;
	font-size: 17px;
	color: #303030;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 0.7s ease;
}

.contact > ul li .utube:hover {
	font-family: 'Oswald', sans-serif;
	border-radius: 5px;
	display: block;
	background: white;
	padding: 10px 29px 12px 37px;
	font-size: 17px;
	color: #e03838;
	text-decoration: none;
	text-transform: uppercase;
	box-shadow: 1px 5px 10px -5px black;
	transition: all 0.7s ease;
}

.contact > ul li .utuber:hover {
	font-family: 'Oswald', sans-serif;
	border-radius: 5px;
	display: block;
	background: #303030;
	padding: 10px 29px 12px 37px;
	font-size: 17px;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	box-shadow: 1px 5px 10px -5px black;
	transition: all 0.7s ease;
}

.contact > ul li .vk:hover {
	font-family: 'Oswald', sans-serif;
	border-radius: 5px;
	display: block;
	background: white;
	padding: 10px 29px 12px 37px;
	font-size: 17px;
	color: #4286f4;
	text-decoration: none;
	text-transform: uppercase;
	box-shadow: 1px 5px 10px -5px black;
	transition: all 0.7s ease;
}