body{
	background-image:url(bgg2.jpg);

}

div{
	
	margin-left:300px;
	background-image:url(bgg.jpg);
	border:7px solid black;
	color:white;
	margin-right:394px;
	font-family:impact;
	
}

#cg{
	
	margin-left:160px;
	background-image:url(bgg.jpg);
	border:10px solid black;
	color:white;
	font-size:120px;
	font-family:impact;
	
}

a{	
	
	color:#808080;
	
	font-size:48px;

}
